@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #FF7B45 1.84%, #FF5050 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #FF7B45 -13.86%, #FF5050 99.55%);
  
  --color-bg: #ffffff;
  --color-dark: #101010;
  --color-footer : #1d3b26;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}